<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css.css">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
	<title>Document</title>
	<style>
		html,
		body {
			font-family: 'Raleway', sans-serif;
		}

		.custom {
			width: 300px;
			height: 345px;
			border: solid 5px #0098c8;
		}

		.logo {
			width: 60px;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12 pt-3">
				<div class="card border-info border-0 mx-auto text-center custom">
					<div class="card-header border-info border-0 bg-white text-center"><img class="logo"
							src="public/images/logo.png" alt=""></div>
					<img src="{{qr}}" alt="">
					<div class="card-body">
						<h5 class="card-title text-center">TU <strong class="text-info">ENTRADA.</strong></h5>
						<p class="text-center">Presentando este codigo QR en la entrada podras ingresar.</p>
						<a href="#" class="btn btn-clear text-info">Descargar QR</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>

</html>