<div class="container">
	<div class="row justify-content-center">
		<div class="col-xs-12">

			<div class="card mt-2">
				<div class="card-header text-white text-center" style="background-color:#0096c8;">
					<i class="far fa-check-circle" style="font-size:80px;"></i>
				</div>
				<div class="card-body text-center">
					<h5 class="card-title">Genial!</h5>
					<p>Tu cuenta ha sido verificada.</p>
				</div>
			</div>

		</div>
	</div>
</div>